<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>kgk</display-name>
    <servlet-name>kgk</servlet-name>
    <servlet-class>mvc.kgk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kgk</servlet-name>
    <url-pattern>/kgk</url-pattern>
  </servlet-mapping>
  <display-name>WebBanDienThoai</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginControler</servlet-name>
    <servlet-class>mvc.LoginControler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>mvc.SignupController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckAccControler</servlet-name>
    <servlet-class>mvc.CheckAccControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControler</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckAccControler</servlet-name>
    <url-pattern>/checkAcc</url-pattern>
  </servlet-mapping>
</web-app>