<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="container">
        <div class="login-left">
            <div class="login-header">
                <h1>Welcome to Mobile Store</h1>
                <p>Please sign-in to use the platform</p>
            </div>
            <form action="" class="login-form">
                <div class="login-form-content">
                    <div class="form-item">
                        <label for="username">Username</label>
                        <input type="text" id="username">
                    </div>
                    <div class="form-item">
                        <label for="password">Password</label>
                        <input type="text" id="password">
                    </div>
                    <div class="form-item">
                        <div class="checkbox">
                            <input type="checkbox" name="" id="rememberMeCheckbox">
                            <label for="rememberMeCheckbox" id="chechboxLabel">Remember me</label>
                        </div>
                     </div>
                     <button type="submit">Sign In</button>
                </div>
                <div class="login-form-footer">
                    <a href="#">
                        <img width="30"
                        src="" 
                        alt=""> 
                        Facebook
                    </a>
                    <a href="#">
                        Google
                    </a>
                </div>
            </form>
        </div>
        <div class="login-right">
            <img src="./login-form-right.jpg" alt="">
        </div>
    </div>
</body>
</html>