@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&displl");

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 40px;
}

/*-----SIGN IN AND SIGN UP-----------------------------*/
.container{
    min-height:  calc(100vh - 40px * 2);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
}

.login-left{
    display: flex;
    flex-direction: column;
    justify-content: content;
    padding-left: 150px;
    background-color: white;
}

.login-right{
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.login-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.login-header{
    margin-top: 120px;
    margin-bottom: 50px;
}

h1{
    font-size: 40px;
    margin-bottom: 10px;
}

p{
    opacity: .7;
}

.login-form{
    width: 450px;
}

.login-form-content{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.login-form-footer{
    flex-direction: column;
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

a{
    flex: 6;
    gap: 15px;
    border: 1px solid black;
    border-radius: 100px;
    padding: .6rem;
    justify-content: center;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}
a img{
    width: 30px;
    height: 30px;
}

.form-item label:not(.checkboxLabel){
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}

#chechboxLabel{
    margin-bottom: 0px;
    margin-top: 20px;
}

input[type="text"],
input[type="password"]{
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 100px;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    accent-color: #4158D0;
}

button{
    border: none;
    background-color: #4158D0;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #FFCC70;
    color: white;
}

.sign-up-header{
    margin-top: 50px;
}


/*------CART-----------------------------------------------*/
.cart-page{
	margin: 80px 200px;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 10px;
}

table{
	width: 100%;
	border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}
.cart-info a:hover{
    background-color: #C850C0;
    color: #fff;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #4158D0;
    font-weight: normal;
}
th:last-child{
    text-align: right;
}


td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    border: none;
    background-color: #4158D0;
    color: #fff;
    font-size: 12px;
}
td a:hover{
    background-color: white;
    color: #4158D0;
}
td img{
    width: 120px;
    height: 120px;
    margin-right: 10px;
}
td a{
    margin-top: 10px;
}
td .product-name{
    margin-bottom: 10px;
}
td:last-child{
    text-align: right;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #4158D0;
    width: 100%;
    max-width: 400px;
}

/*-----PRODUCTS------------------------------------------------*/
.container-product{
    background-color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
}

h2{
    margin: 0;
}

.row{
    background-color: #fff;
    margin: 50px auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.row-head{
    margin-top: 0px;
    justify-content: space-between;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4:hover{
    transform: translateY(-5px);
    background-color: #4158D0;
    color: #fff;
}

.col-4 img{
    width: 100%;
}

select{
    border: 1px solid #4158D0;
    padding: 5px;
}
select:focus{
    outline:no
}







/*-----media query screen--------------------------------------*/
@media(max-width:1350px){
    .login-left{
        padding: 50px !important;
    }

    .login-header{
        margin-top: 30px;
    }

    .login-form{
        width: 100%;
    }

    .login-form-footer{
        flex-direction: column;
        gap: 15px;
        }
}

@media(max-width:768px){
    .container{
        grid-template-columns: auto;
    }

    .login-header{
        margin-top: -10px;
    }
    .login-right{
        display: none;
    }
}
