*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

body{
	 background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
   	min-height: calc(100vh-40px*2);
}

header{
	
	background-color:blue;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

footer{
	background-color:green;
	color: yellow;
	display: flex;
	justify-content: space-around;
    margin: 0px;
}

.logo{
    font-size: 45px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:white;
    font-weight: 700;
}

u1 li{
    display: inline-block;
    list-style: none;
    font-family: sans-serif;
}

u1 li a{
    color:white;
    margin-left: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    transition: 0.4s;
    font-weight: 600;
}

u1 li a:hover{
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 10px;
}